/* Container principal */
.home{
    text-align: center;
    font-family: "Agbalumo", system-ui;
    color: #ebe7e7 ;
    margin-top: -55px;
}
.home_logo {
    background-color: #1c35a3;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Agbalumo", system-ui;
    color: #ebe7e7 ;
    cursor: pointer;
    padding: 0 20px;
    min-width: 100vh;

    box-shadow: 0 2px 10px;
}

#buttonhome {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    padding-top: 13px;
}

.buttonone {
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}

.buttonone:hover {
    transform: scale(1.2);
}


.home-container {
    margin: auto;
    align-items: center;
    margin-top: 70px;
    max-width: 520px;
    max-width: 720px;
    background-color: #052096b2;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #1c35a3;
}


.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

/* Input de texto e data */
.input-text,
.input-date {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #9E9E9E;
    outline: none;
    background-color: #F5F5F5;
    box-sizing: border-box;
    margin-bottom: 16px;
    transition: border 0.3s ease;
}

.input-text:focus,
.input-date:focus {
    border: 1px solid #2196f3;
}

/* Flex layout para as datas */
.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 12px;
}

.flex-col {
    flex: 1;
}

/* Botão principal */
.button {
    width: 100%;
    padding: 12px;
    background-color: #1c35a3;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    background-color: #061868;
}
.button-logout {
    display: flex;
    align-items: center;
    background-color: #1c35a3;
    color: #ebe7e7;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .button-logout:hover {
    background-color: #1c35a3;
  }

  .button-logout svg {
    font-size: 100px; /* Aumentar o tamanho do ícone */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
  }