.resultado-container{
    margin: auto;
    align-items: center;
    margin-top: 70px;
    max-width: 520px;
    max-width: 720px;
    background-color: #052096b2;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #1c35a3;
}

/* Estilo do container de carregamento */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.8); /* Preto com 80% de opacidade */
    color: #fff; /* Texto branco */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.loading-text {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
  }

.formatted-text {
    white-space: pre-wrap; /* Mantém os espaços e quebras de linha */
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
  }

.error-text {
    color: red;
    text-align: center;
  }