.iconone {
    margin: 0;
    padding: 20px;
    left: 25px;
    width: 20px;
    height: 20px;

}

.second-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 12px;

}

.destinos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #1c35a3e5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #002fff;
    border-radius: 12px;
    /* Canto arredondado para melhorar a aparência */
}

.roteiro {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.valores-container,
.horas-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.hora-chegada [type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
    font-size: 14px;
    margin-right: 20px;
}

.hora-item {
    margin: 10px 0;
}

.hora-item label {
    font-size: 14px;
    margin-right: 10px;
}

.hora-item input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
}

/* Adicionando estilo específico para o Dropdown (Select Country) */
.p-dropdown {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.p-dropdown .p-dropdown-label {
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.country-item {
    padding: 5px;
    background-color: #fff;
}

.country-item:hover {
    background-color: #e6e6e6;
    /* Mudar fundo ao passar o mouse */
}

.selected-country-template {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 16px;
    color: #333;
}

/* Estilo para a lista de opções de países */
.country-option-template {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    color: #333;
}

.country-option-template:hover {
    background-color: #e6e6e6;
}

.card {
    width: 100%;
    max-width: 400px;
    /* Ajuste conforme necessário */
}

.p-autocomplete {
    width: 100%;
    max-width: 400px;
    /* Mantém a mesma largura que o Dropdown */
    margin: 20px 0;
    /* Mesma margem que o Dropdown */
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.p-autocomplete .p-autocomplete-input {
    border-radius: 12px;
    /* Mantém os cantos arredondados */
    padding: 10px;
    /* Mesma padronização de espaçamento */
    font-size: 16px;
    color: #333;
    /* Altera a cor do texto para ser consistente */
    background-color: #fff;
    /* Fundo branco consistente */
}

.p-autocomplete .p-autocomplete-panel {
    border-radius: 12px;
    /* Mesma borda arredondada */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para a lista de sugestões do AutoComplete */
.p-autocomplete .p-autocomplete-items {
    border-radius: 12px;
    /* Borda arredondada para as sugestões */
}

.button-destino {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #1c35a3;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.button-destino:hover {
    background-color: #061868;

}